/* Estilos para el header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #f0f0f0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}

/* Estilos para la cabecera */
#cabecera {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0; /* Eliminamos el padding para que se ajuste al tamaño de los elementos */
    background-color: #007bff9c;
    color: #fff;
    border: 1px solid #ccc;
    list-style-type: none;
    margin: 0;
    flex: 1;
    font-weight: bolder;
    font-size: 16px; /* Ajustamos el tamaño de la fuente para que sea igual al de las listas */
    z-index: 1000;
    margin-bottom: 10px;
}

/* Estilo para cada elemento dentro de la cabecera */
#cabecera li {
    flex: 1; /* Distribuir el espacio disponible de manera equitativa */
    padding: 10px; /* Añadimos un poco de espacio interno */
    text-align: center; /* Centramos el texto */
    border-right: 1px solid #ccc; /* Añadimos una línea divisoria entre elementos */
    margin: 0; /* Añadimos margen cero para evitar espacios adicionales */
}

/* Estilo para el último elemento dentro de la cabecera */
#cabecera li:last-child {
    border-right: none; /* Quitamos la línea divisoria en el último elemento */
}

/* Estilo para cada elemento dentro de un usuario */
ul li {
    flex: 1; /* Distribuir el espacio disponible de manera equitativa */
    padding: 10px; /* Añadimos un poco de espacio interno */
    text-align: center; /* Centramos el texto */
    border-right: 1px solid #ccc; /* Añadimos una línea divisoria entre elementos */
    position: relative; /* Posición relativa para los elementos */
    overflow: hidden; /* Ocultamos el contenido que se desborde */
}

/* Estilo para el contenido que se desborde */
ul li:hover {
    overflow: visible; /* Muestra el contenido que desborda al pasar el cursor */
}

/* Estilo para el contenido desbordado */
ul li:hover::after {
    content: attr(title); /* Mostrar el contenido completo como un tooltip */
    position: absolute;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    padding: 10px;
    z-index: 1;
    top: 100%; /* Colocar el tooltip debajo del elemento */
    left: 0;
    white-space: nowrap; /* Evita que el texto se divida en múltiples líneas */
    max-width: 200px; /* Ancho máximo del tooltip */
}

ul li img {
    width: 100px;
    height: auto;
}

#contenedor-buscar {
    display: flex;
    align-items: center;
}

#txtBuscar {
    margin-right: 10px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

#btnMostrarAddProducto,
#btnModificar {
    padding: 8px 20px;
    font-size: 16px;
    background-color: #007bff; /* Mismo color que el botón de añadir */
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#btnMostrarAddProducto:hover,
#btnModificar:hover {
    background-color: #0056b3; /* Cambio de color al pasar el cursor */
}

/* Estilos para los modales */
.modal-content {
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Sombra ligera */
}

.modal-header {
    background-color: #007bff;
    color: #fff;
    border-radius: 10px 10px 0 0;
    padding: 15px;
}

.modal-body {
    padding: 20px;
}

.modal-footer {
    background-color: #f0f0f0;
    border-radius: 0 0 10px 10px;
    padding: 15px;
}

.modal-footer .btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}

.modal-footer .btn-primary:hover {
    background-color: #0056b3;
    border-color: #0056b3;
}

.modal-footer .btn-secondary {
    background-color: #ccc;
    border-color: #ccc;
}

.modal-footer .btn-secondary:hover {
    background-color: #b3b3b3;
    border-color: #b3b3b3;
}

/* Estilos para los campos del formulario dentro del modal */
.modal-body label {
    display: block;
    margin-bottom: 10px;
}

.modal-body input[type="text"] {
    width: calc(100% - 22px); /* Ancho ajustado para tener en cuenta el padding y el borde */
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

/* Estilos generales */
.container {
    max-width: 100%;
    margin: 0 auto;
    padding: 20px;
}

/* Estilos para el botón de ir arriba */
#btnScrollToTop {
    display: none;
    position: fixed;
    bottom: 80px;
    right: 20px;
    z-index: 999;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    padding: 10px 12px;
    border-radius: 50%;
}

#btnScrollToTop:hover {
    background-color: #0056b3;
}
/* Estilos para dispositivos móviles */
@media (max-width: 1100px) {
    ul {
        flex-direction: column;
        align-items: stretch;
    }

    ul li {
        border-right: none; /* Quitamos la línea divisoria en todos los elementos */
    }
    #cabecera li {
        border-right: none; /* Quitamos la línea divisoria en todos los elementos */
        border-bottom: 1px solid #ccc;
    }

    header {
        flex-direction: column;
        align-items: stretch;
    }

    #contenedor-buscar {
        flex-direction: column;
        align-items: stretch;
    }

    #txtBuscar {
        margin-right: 0;
        margin-bottom: 10px;
    }

    #btnMostrarAddProducto,
    #btnModificarDatos {
        width: 100%;
        margin-top: 10px;
    }
    /* Estilos para el botón de ir arriba */
#btnScrollToTop {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 50%;
}

#btnScrollToTop:hover {
    background-color: #0056b3;
}
}
