body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-image: url('../Imagenes/inicioSesion.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-box {
    width: 400px; /* Aumentamos el ancho de la caja */
    background-color: rgba(255, 255, 255, 0.8);
    padding: 40px; /* Aumentamos el espacio interno */
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    text-align: center;
}

.menu, .container2 {
    all: unset;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

img {
    width: 70px;
    height: auto;
}
.login-box input[type="button"] {
    width: 100%; /* Ancho del botón al 80% para que aparezcan uno encima del otro */
    height: 100px; /* Aumentamos la altura del botón */
    background-color: #4caf50; /* Cambiamos el color del botón de Usuario */
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    padding-left: 0px; /* Aumentamos el padding para dejar espacio para el logo */
    margin-top: 15px; /* Ajustamos el margen superior */
    margin-bottom: 15px;
    background-size: 40px; /* Tamaño del logo */
    background-position: 30px center; /* Posición del logo */
    background-repeat: no-repeat; /* Evitar repetir el logo */
}

.login-box input[type="button"]:hover {
    background-color: #45a049; /* Cambiamos el color de hover del botón de Usuario */
}

#btnUsuarios {
    background-image: url('../Imagenes/gestionUsuario.png'); /* Agregar imagen para el botón de Usuarios */
}

#btnPedidos {
    background-image: url('../Imagenes/gestionarPedidos.png'); /* Agregar imagen para el botón de Pedidos */
}

#btnProductos {
    background-image: url('../Imagenes/gestionProductos.png'); /* Agregar imagen para el botón de Productos */
}

#btnResiduos {
    background-image: url('../Imagenes/residuos.png'); /* Agregar imagen para el botón de Residuos */
}