 #fecha_desde{
    margin-left: 5px;
    margin-right: 25px;
}
#fecha_hasta{
    margin-left: 5px;
    margin-right: 25px;
}
#Buscador_Fechas{
    display: flex;
    margin-top: 10%;
    margin-bottom: 10%;
    /* margin-left: 24px; */
    /* margin-right: 24px; */
    flex-direction: row;
    justify-content: center;
    align-content: space-around;
    flex-wrap: wrap;
    align-items: baseline;
}


#circle {
    background: green;
    border-radius: 50%;
    width: 10px;
    height: 10px;
}
#circle2 {
    background: orange;
    border-radius: 50%;
    width: 10px;
    height: 10px;
}

.parent {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 8px;
    align-items: baseline;
    justify-items: start
    }
  
        .div1 { grid-area: 1 / 5 / 2 / 6; }
        .div2 { grid-area: 1 / 6 / 2 / 7; }
        .div3 { grid-area: 1 / 7 / 2 / 8; }
        .div4 { grid-area: 1 / 8 / 2 / 9; }
        .div5 { grid-area: 1 / 9 / 2 / 10; }

/*----  Main Style  ----*/
#cards_landscape_wrap-2{
    text-align: center;
    /* background: #F7F7F7; */
  }
  #cards_landscape_wrap-2 .container{
    padding-top: 80px; 
    padding-bottom: 100px;
  }
  #cards_landscape_wrap-2 a{
    text-decoration: none;
    outline: none;
  }
  #cards_landscape_wrap-2 .card-flyer {
    border-radius: 5px;
  }
  #cards_landscape_wrap-2 .card-flyer .image-box{
    background: #ffffff;
    overflow: hidden;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.50);
    border-radius: 5px;
  }
  #cards_landscape_wrap-2 .card-flyer .image-box img{
    -webkit-transition:all .9s ease; 
    -moz-transition:all .9s ease; 
    -o-transition:all .9s ease;
    -ms-transition:all .9s ease; 
    width: 100%;
    height: 200px;
  }
  #cards_landscape_wrap-2 .card-flyer:hover .image-box img{
    opacity: 0.7;
    -webkit-transform:scale(1.15);
    -moz-transform:scale(1.15);
    -ms-transform:scale(1.15);
    -o-transform:scale(1.15);
    transform:scale(1.15);
  }
  #cards_landscape_wrap-2 .card-flyer .text-box{
    text-align: center;
  }
  #cards_landscape_wrap-2 .card-flyer .text-box .text-container{
    padding: 30px 18px;
  }
  #cards_landscape_wrap-2 .card-flyer{
    background: #FFFFFF;
    margin-top: 50px;
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -ms-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
    box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.40);
  }
  #cards_landscape_wrap-2 .card-flyer:hover{
    background: #fff;
    box-shadow: 0px 15px 26px rgba(0, 0, 0, 0.50);
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -ms-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
    margin-top: 50px;
  }
  #cards_landscape_wrap-2 .card-flyer .text-box p{
    margin-top: 10px;
    margin-bottom: 0px;
    padding-bottom: 0px; 
    font-size: 14px;
    letter-spacing: 1px;
    color: #000000;
  }
  #cards_landscape_wrap-2 .card-flyer .text-box h6{
    margin-top: 0px;
    margin-bottom: 4px; 
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    font-family: 'Roboto Black', sans-serif;
    letter-spacing: 1px;
    color: #00acc1;
  }

  /*Pruebas*/
  body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    /* background-image: url('../Imagenes/inicioSesion.jpg'); */
    background-color: lightgray;
    background-size: cover;
    background-position: center;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

#encabezado {
    margin-right: 15px;
}

#encabezado ul {
    /* Alineación a la derecha */
    text-align: right; 
}

#encabezado ul li {
    position: relative;
    display: inline-block;
}

#submenu {
    position: absolute;
    /* Ajustar posición a la izquierda */
    left: -24px; 
    /* Ajustar posición según necesidades */
    top: 80px; 
    display: none;
    /* Fondo blanco */
    background-color: rgba(255, 255, 255, 0.5); 
    /* Borde redondeado */
    border-radius: 5px; 
    box-shadow: 0 2px 5px rgba(0,0,0,0.2); /* Sombra */
    z-index: 1; /* Asegurar que esté por encima de otros elementos */
    width: auto;
}

#icono_persona:hover #submenu {
    display: block;
}

#submenu ul {
    display: flex;
    /* list-style: none; */
    padding: 0;
    text-align: left;
    margin: 0;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
}

#submenu ul li input[type="button"] {
    /* Ancho completo */
    width: 100%; 
    /* Altura */
    height: 40px; 
    /* Color de fondo */
    background-color: transparent; 
    border: none;
    /* Borde redondeado */
    border-radius: 5px; 
    cursor: pointer;
    /* Transición suave */
    transition: background-color 0.3s ease; 
}

#submenu ul li input[type="button"]:hover {
    /* Cambio de color al pasar el ratón */
    background-color: #4caf50; 
}

#encabezado img {
    width: 80px;
    height: 80px;
    /* Mover imágenes a la esquina derecha */
    float: right; 
    /* Espacio entre imágenes */
    margin-right: 20px; 
}

.login-box {
    width: 800px; /* Aumentamos el ancho de la caja */
    background-color: rgba(255, 255, 255, 0.8);
    padding: 40px; /* Aumentamos el espacio interno */
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    text-align: center;
    /* display: flex; */
    text-align: center;
    align-content: center;
    margin: auto;
}

.login-box input[type="button"] {
    width: 80%; /* Ancho del botón al 80% para que aparezcan uno encima del otro */
    height: 55px; /* Aumentamos la altura del botón */
    background-color: #4caf50; /* Cambiamos el color del botón de Usuario */
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    padding: 10px;
    margin-top: 15px; /* Ajustamos el margen superior */
    margin-bottom: 15px;
}

/* disposición botones */
.parent {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
}