 #fecha_desde{
    margin-left: 5px;
    margin-right: 25px;
}
#fecha_hasta{
    margin-left: 5px;
    margin-right: 25px;
}
#Buscador_Fechas{
    display: flex;
    margin-top: 10%;
    margin-bottom: 10%;
    /* margin-left: 24px; */
    /* margin-right: 24px; */
    flex-direction: row;
    justify-content: center;
    align-content: space-around;
    flex-wrap: wrap;
    align-items: baseline;
}


#circle {
    background: green;
    border-radius: 50%;
    width: 10px;
    height: 10px;
}
#circle2 {
    background: orange;
    border-radius: 50%;
    width: 10px;
    height: 10px;
}

.parent {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 8px;
    align-items: baseline;
    justify-items: start
    }
  
        .div1 { grid-area: 1 / 5 / 2 / 6; }
        .div2 { grid-area: 1 / 6 / 2 / 7; }
        .div3 { grid-area: 1 / 7 / 2 / 8; }
        .div4 { grid-area: 1 / 8 / 2 / 9; }
        .div5 { grid-area: 1 / 9 / 2 / 10; }