body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-image: url('../Imagenes/inicioSesion.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

#encabezado {
    margin-right: 15px;
}

#encabezado ul {
    /* Alineación a la derecha */
    text-align: right; 
}

#encabezado ul li {
    position: relative;
    display: inline-block;
}

#submenu {
    position: absolute;
    /* Ajustar posición a la izquierda */
    left: -24px; 
    /* Ajustar posición según necesidades */
    top: 80px; 
    display: none;
    /* Fondo blanco */
    background-color: rgba(255, 255, 255, 0.5); 
    /* Borde redondeado */
    border-radius: 5px; 
    box-shadow: 0 2px 5px rgba(0,0,0,0.2); /* Sombra */
    z-index: 1; /* Asegurar que esté por encima de otros elementos */
    width: auto;
}

#icono_persona:hover #submenu {
    display: block;
}

#submenu ul {
    display: flex;
    /* list-style: none; */
    padding: 0;
    text-align: left;
    margin: 0;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
}

#submenu ul li input[type="button"] {
    /* Ancho completo */
    width: 100%; 
    /* Altura */
    height: 40px; 
    /* Color de fondo */
    background-color: transparent; 
    border: none;
    /* Borde redondeado */
    border-radius: 5px; 
    cursor: pointer;
    /* Transición suave */
    transition: background-color 0.3s ease; 
}

#submenu ul li input[type="button"]:hover {
    /* Cambio de color al pasar el ratón */
    background-color: #4caf50; 
}

#encabezado img {
    width: 80px;
    height: 80px;
    /* Mover imágenes a la esquina derecha */
    float: right; 
    /* Espacio entre imágenes */
    margin-right: 20px; 
}

.login-box {
    width: 800px; /* Aumentamos el ancho de la caja */
    background-color: rgba(255, 255, 255, 0.8);
    padding: 40px; /* Aumentamos el espacio interno */
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    text-align: center;
    /* display: flex; */
    text-align: center;
    align-content: center;
    margin: auto;
}

.login-box input[type="button"] {
    width: 80%; /* Ancho del botón al 80% para que aparezcan uno encima del otro */
    height: 55px; /* Aumentamos la altura del botón */
    background-color: #4caf50; /* Cambiamos el color del botón de Usuario */
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    padding: 10px;
    margin-top: 15px; /* Ajustamos el margen superior */
    margin-bottom: 15px;
}

/* disposición botones */
.parent {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
}