body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-image: url('../Imagenes/inicioSesion.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

#encabezado {
    margin-right: 15px;
}

#encabezado ul {
    text-align: right; /* Alineación a la derecha */
}

#encabezado ul li {
    position: relative;
    display: inline-block;
}

#submenu {
    position: absolute;
    left: -100px; /* Ajustar posición a la izquierda */
    top: 80px; /* Ajustar posición según necesidades */
    display: none;
    /* Fondo blanco */
    background-color: rgba(255, 255, 255, 0.3); 
    /* Borde redondeado */
    border-radius: 5px; 
    /* Espaciado interno */
    padding: 5px; 
    box-shadow: 0 2px 5px rgba(0,0,0,0.2); /* Sombra */
    z-index: 1; /* Asegurar que esté por encima de otros elementos */
}

#icono_persona:hover #submenu {
    display: block;
}

#submenu ul {
    list-style: none;
    /* padding: 0; */
}

#submenu ul li {
    margin-bottom: 8px; /* Espaciado entre elementos del submenú */
}

#submenu ul li input[type="button"] {
    width: 100%; /* Ancho completo */
    height: 40px; /* Altura */
    background-color: #f2f2f2; /* Color de fondo */
    border: none;
    border-radius: 5px; /* Borde redondeado */
    cursor: pointer;
    transition: background-color 0.3s ease; /* Transición suave */
}

#submenu ul li input[type="button"]:hover {
    background-color: #e0e0e0; /* Cambio de color al pasar el ratón */
}

#encabezado img {
    width: 80px;
    height: 80px;
    float: right; /* Mover imágenes a la esquina derecha */
    margin-right: 20px; /* Espacio entre imágenes */
}

.login-box {
    width: 800px; /* Aumentamos el ancho de la caja */
    background-color: rgba(255, 255, 255, 0.8);
    padding: 40px; /* Aumentamos el espacio interno */
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    text-align: center;
    /* display: flex; */
    text-align: center;
    align-content: center;
    margin: auto;
}

.login-box input[type="button"] {
    width: 80%; /* Ancho del botón al 80% para que aparezcan uno encima del otro */
    height: 55px; /* Aumentamos la altura del botón */
    background-color: #4caf50; /* Cambiamos el color del botón de Usuario */
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    padding: 10px;
    margin-top: 15px; /* Ajustamos el margen superior */
    margin-bottom: 15px;
}

/* disposición botones */
.parent {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
}