body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-image: url('../Imagenes/inicioSesion.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

#encabezado ul {
    text-align: right;
}

#encabezado ul li {
    position: relative;
    display: inline-block;
}

#submenu {
    position: absolute;
    /* top: 20px; Ajusta la posición del menú según tus necesidades */
    /* left: 20px; Ajusta la posición del menú según tus necesidades */
    display: none;
    background-color: white;
}

#encabezado:hover #submenu {
    display: block;
}

#submenu ul {
    list-style-type: none;
    /* padding: 45px; */
}

#submenu ul li {
    /* Espacio entre elementos del menú */
    margin-bottom: 10px; 
}

#encabezado img {
    width: 80px;
    height: 80px;
}

.login-box {
    width: 800px; /* Aumentamos el ancho de la caja */
    background-color: rgba(255, 255, 255, 0.8);
    padding: 40px; /* Aumentamos el espacio interno */
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    text-align: center;
    /* display: flex; */
    text-align: center;
    align-content: center;
    margin: auto;
}

.login-box input[type="button"] {
    width: 80%; /* Ancho del botón al 80% para que aparezcan uno encima del otro */
    height: 55px; /* Aumentamos la altura del botón */
    background-color: #4caf50; /* Cambiamos el color del botón de Usuario */
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    padding: 10px;
    margin-top: 15px; /* Ajustamos el margen superior */
    margin-bottom: 15px;
}

/* disposición botones */
.parent {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
}