@charset "UTF-8";
/* // Estilos base que SÍ son necesarios en el tema dark */
:root {
  --main-color: #1083D6;
  --title-color: #2A3B47;
  --text-color: #697477;
  --light-text-color: #A0A7AC;
  --border-color: #EFF3F5;
  --container-color: #FFFFFF;
  --body-color: #FBFBFE;
  --container-shadow: 0 1px 4px rgba(146,161,176,.15);
}

body.dark-theme {
  --main-color: #52A5E0;
  --title-color: #EFF3F5;
  --text-color: #C8CDD0;
  --light-text-color: #A0A7AC;
  --border-color: #2A3B47;
  --container-color: #212E36;
  --body-color: #192229;
  --container-shadow: none;
}

body {
  background: var(--body-color);
  transition: 3s ease all;
  color: var(--text-color);
}

h1, h2, h3, h4, h5, h6 {
  color: var(--title-color);
}

a {
  color: var(--main-color);
}

hr {
  border: none;
  border-bottom: 1px solid var(--border-color);
}

.subtitle {
  color: var(--light-text-color);
}

.button {
  background: var(--main-color);
}

.container {
  background: var(--container-color);
  transition: 3s ease all;
  box-shadow: var(--container-shadow);
}

.change-theme-button {
  background: #343D5B;
  border-radius: 1000px;
  border: none;
  position: relative;
  cursor: pointer;
  display: flex;
  outline: none;
}
.change-theme-button::after {
  content: "";
  display: block;
  width: 30px;
  height: 30px;
  position: absolute;
  background: #F1F1F1;
  top: 0;
  left: 0;
  right: unset;
  border-radius: 100px;
  transition: 3s ease all;
  box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.2);
}
.change-theme-button.active {
  background: orange;
  color: #000;
}
.change-theme-button.active::after {
  right: 0;
  left: unset;
}
.change-theme-button span {
  width: 30px;
  height: 30px;
  line-height: 30px;
  display: block;
  background: none;
  color: #fff;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: var(--body-color);
  background-size: cover;
  background-position: center;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

nav {
  background: var(--body-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  border-radius: 5px;
  transition: 3s ease all;
  box-shadow: var(--title-color);
}
body.dark nav {
  background: var(--text-color);
  box-shadow: var(--light-text-color);
}
body.dark nav a {
  color: var(--light-text-color);
}
body.dark nav a:hover {
  color: var(--body-color);
}
nav .logotipo {
  font-weight: 700;
  font-family: "Roboto", sans-serif;
}
nav .logotipo img {
  width: 140px;
  height: 80px;
}
nav .enlaces {
  display: flex;
  align-items: center;
}
nav .enlaces a {
  margin-right: 40px;
}
nav .enlaces a:hover {
  color: #707070;
}

ul, ol {
  list-style: none;
}

.nav > li {
  float: left;
}

.nav li a {
  color: #fff;
  text-decoration: none;
  padding: 10px 12px;
  display: block;
}

.nav li ul {
  display: none;
  position: absolute;
  min-width: 140px;
}

.nav li:hover > ul {
  display: block;
}

.nav li ul li {
  position: relative;
}

.nav li ul li ul {
  right: -140px;
  top: 0px;
}

nav img {
  width: 70px;
  height: 60px;
  /* Mover imágenes a la esquina derecha */
  float: right;
  /* Espacio entre imágenes */
  margin-right: 0;
  padding-right: 20px;
}

.login-box {
  width: 800px;
  background-color: var(--body-color);
  padding: 40px;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  text-align: center;
  /* display: flex; */
  text-align: center;
  align-content: center;
  margin: auto;
  margin-top: 40px;
}

.login-box input[type=button] {
  width: 80%;
  height: 55px;
  background-color: var(--main-color);
  color: var(--body-color);
  border: none;
  border-radius: 20px;
  cursor: pointer;
  padding: 10px;
  margin-top: 15px;
  margin-bottom: 15px;
}

/* disposición botones */
.parent {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

/*----  stylo de las tarjetas  ----*/
#cards_landscape_wrap-2 {
  text-align: center;
  /* background: #F7F7F7; */
}

#cards_landscape_wrap-2 .container {
  padding-top: 30px;
  padding-bottom: 50px;
  width: -moz-fit-content;
  width: fit-content;
}

#cards_landscape_wrap-2 a {
  text-decoration: none;
  outline: none;
}

#cards_landscape_wrap-2 .card-flyer {
  border-radius: 5px;
}

#cards_landscape_wrap-2 img {
  height: 75px !important;
  width: 110px !important;
}

#cards_landscape_wrap-2 .card-flyer .image-box {
  background: var(--body-color);
  overflow: hidden;
  transition: 3s ease all;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
}

#cards_landscape_wrap-2 .card-flyer .image-box img {
  -webkit-transition: all 3s ease;
  -moz-transition: all 3s ease;
  -o-transition: all 3s ease;
  -ms-transition: all 3s ease;
  width: 100%;
  height: 200px;
}

#cards_landscape_wrap-2 .card-flyer:hover .image-box img {
  opacity: 0.7;
  transform: scale(1.15);
}

#cards_landscape_wrap-2 .card-flyer .text-box {
  text-align: center;
}

#cards_landscape_wrap-2 .card-flyer .text-box .text-container {
  padding: 20px 12px;
}

#cards_landscape_wrap-2 .card-flyer {
  background: var(--main-color);
  margin-top: 50px;
  transition: all 0.2s ease-in;
  box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.4);
}

#cards_landscape_wrap-2 .card-flyer:hover {
  background: #00c8e0;
  box-shadow: 0px 15px 26px rgba(0, 0, 0, 0.5);
  transition: all 0.2s ease-in;
  margin-top: 50px;
}

#cards_landscape_wrap-2 .card-flyer .text-box p {
  margin-top: 10px;
  margin-bottom: 0px;
  padding-bottom: 0px;
  font-size: 10px;
  letter-spacing: 1px;
  color: black;
}

#cards_landscape_wrap-2 .card-flyer .text-box h6 {
  margin-top: 0px;
  margin-bottom: 4px;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  font-family: "Roboto Black", sans-serif;
  letter-spacing: 1px;
  color: black;
}/*# sourceMappingURL=modoOscuro.css.map */