body {
    font-family: Arial, sans-serif;
    height: 100vh;
    background-color: lightgrey;
    justify-content: center;
    align-items: center;
    margin: 0;
}

#barraNav {
    width: auto;
}

#barraNav {
    text-align: center;
    display: flex;
}

#barraNav li {
    padding-left: 5px;
    width: 150px;
}

#barraNav li input {
    width: 100%;
    height: 35px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

#iconos {
    /* position: relative; */
    display: flex;
    justify-content: right;
    padding-right: 5px;
    /* margin-right: 20px; */
    /* margin-left: 20px; */
    margin: 0;
    margin-top: -60px;
}

#iconos li {
    margin-left: 10px;
}

#submenu {
    position: absolute;
    /* Ajustar según sea necesario */
    top: 58px; 
    right: 25px;
    display: none;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    /* Asegurar que esté por encima del contenedor de productos */
    z-index: 9999; 
    width: auto;
    padding: -30px; 
}

#icono_persona {
    /* Asegurar que el contenedor del icono de persona sea relativo */
    position: relative; 
}

#icono_persona:hover #submenu {
    display: block;
}

#submenu ul {
    display: flex;
    text-align: left;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    /* margin-left: 0px; */
}

#submenu ul li {
    margin-left: 0;
}

#submenu ul li input[type="button"] {
    width: 100%; 
    height: 40px; 
    background-color: transparent; 
    border: none;
    border-radius: 5px; 
    cursor: pointer;
    /* Transición suave */
    transition: background-color 0.3s ease; 
}

#submenu ul li input[type="button"]:hover {
    /* Cambio de color al pasar el ratón */
    background-color: #4caf50; 
}

ul {
   list-style: none; 
}

img {
    height: 55px;
    width: 55px;
}

#contenedor-productos {
    text-align: center;
    justify-content: center;
    width: 100%;
    position: relative;
}

#contenedor-productos ul {
    display: inline-block;
    justify-content: center;
}

#contenedor-productos ul li {
    margin: 50px;
}



/* añadido Patricio */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}